@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root{
    --bg-color: #f3ede5;
    --gray-color: #758593; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    background: var(--bg-color);
}


/*------------------------- Reutilizable--------------------- */

.container{
    max-width: 1200px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

.btn{
    padding: 15px 30px;
    color: #fff;
    border-radius: 3px;
    background: #133416;
    font-weight: 600;
}

.gray-text{
    color: var(--gray-color);
}


/* ------------- Header --------------- */

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 1rem;
    /* background: red; */
}

nav ul li{
    display: inline-block;
    margin: 0 10px;
}

.login-btns a{
    margin: 10px;
}


/* --------------- Landing Section --------------- */
.landing{
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 4rem;
    background: red;
}

.text-container{
    padding: 150px 0 0;
    width: 100%;
}

.text-container h1{
    font-size: 4rem;
}

.text-container h1 span{
    color: #f7b300;
}

.text-container p{
    font-size: 1.2rem;
    line-height: 1.3rem;
    margin: 10px 0 40px;
}

.rating{
    margin: 50px 0 0;
    width: 100%;
    display: flex;
}

.rating h3{
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0;
}

.rating img{
    width: 25px;
    margin-left: 10px;
}

.image-container img{
    padding: 120px 0 0;
    width: 300px;
}

