@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root{
    --bg-color: #f3ede5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    background: var(--bg-color);
}


/*------------------------- Reutilizable--------------------- */

.container{
    max-width: 1200px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

.btn{
    background: #133416;
    color: #fff;
    padding: 15px 30px;
    border-radius: 3px;
    font-weight: 600;
}


/* ------------- Header --------------- */

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 1rem;
    /* background: red; */
}

nav ul li{
    display: inline-block;
    margin: 0 10px;
}


.login-btns a{
    margin: 10px;
}


