@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root{
    --bg-color: #f3ede5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    background: var(--bg-color);
}


/*------------------------- Reutilizable--------------------- */

.container{
    max-width: 1200px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}


/* ------------- Header --------------- */

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li{
    display: inline-block;
}


